* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    color:white;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}



/*####### nav bar #########*/

.mobilemenu,
#check {
    display: none;
}

nav {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    margin: 3% 0;
}

ul.topnav li {
    display: inline-block;
    
}

ul.topnav li a {
    padding: 0 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





/*#########  hero sections #########*/
header {
    margin: 8%;
}

.headertext {
    width: 70%;
}

.headertext h1 {
    font-size: 4em;
    padding-bottom: .3em;
}
 
.logoss {
    width: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}



/*middle section*/

.midbox {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 84%;
    margin: 0 auto 8%;
    gap: 5%;
}


.midbox img {
    width: 100%;
    padding: 6% 0;
}

.midbox h2 {
    font-size: 2.5em;
    padding-bottom: .6em;
}

.midbox p {
    line-height: 1.5em;
}

.midbox2 {
    background-color: #2b2d2f;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    padding:8%;
    gap: 5%;
}
.midbox2 h3 {
    font-size: 2.5em;
}


.boxtext {
    padding:0 2.5%;
}


.bottombox {
    width: 84%;
    margin: 8% auto;
}
.bottombox h4 {
    font-size: 2.5em;
}

.bottombox h4,
.bottombox p {
    width:50%;
}

button {
    background-color: yellow;
    padding: 12px 24px;
    border: none;
    font-size: 1.2rem;
    margin: 3% 0;
}

.navbutton {
    background-color: yellow;
    padding: 12px 24px;
    border: none;
    font-size: 1.2rem;
}





/* footer section */
footer {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2.5%;
}

footer h1 {
    font-size: smaller;
}

.socialicons img {
    padding: 0 .5rem;
}
